#navbar{
    width:100%;
    height:70px;
    display: flex;
    flex-direction: row;
    background-color: grey;
}
#box{
    padding-left: 20px;
    margin: 10px;
    width:280px;
    height:50px;
    background-color:#344D67;
}
.btn{
    width:40px;
    height:25px;
    border-radius: 20px;
    margin: 10px;
}
#pnk{
    background-color:pink ;
    border: 2px solid pink;
}
#ble{
    background-color:skyblue ;
    border: 2px solid skyblue;
}
#grn{
    background-color:green ;
    border: 2px solid green;
}
#blck{
    background-color:black ;
}
#icon{
    margin: 10px;
    width:100px;
    height:50px;
    background-color:#344D67;
    text-align: center;
}
button:hover{
    background-color: #EFF5F5;
    transition: 0.7s;
}
/* .fa-solid{
    text-align: center;
} */
.icon {
    margin:10px;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #344D67;
    border-radius: 5px;
}

.adder-btn:hover{
    background-color: #EFF5F5;   
}

.new-ticket-section {
    display: flex;
    margin-top: 50px;
    margin-left: 40%;

}

.text-input {
    border: 10px solid grey;

}
.color-picker {
    margin-left: 4px;
    width: 60px;
    background-color: #344D67;
    border: 10px solid #344D67;
}
.colors {
    height: 31.25px;
    width: 58px;
}
.color-items {
    border : 1px solid white;
    height: 80%;
    margin-top: 10px;
}
#red {
    background-color: pink;
}
.red {
    background-color: pink;
}
#blue {
    background-color: skyblue;
}
.blue {
    background-color: skyblue;
}
#black {
    background-color: black;
}
.black {
    background-color: black;
}
#green {
    background-color: green;
}
.green {
    background-color: green;
}
